.contenedorInfo{
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 2rem;
}

.socialNetworks{
    display: flex;
    gap: 15px;
    font-family: sans-serif;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
}

.contact{
    display: flex;
    gap: 15px;
    font-family: sans-serif;
    font-size: 15px;
    align-items: center;
}

.contactP{
    cursor: pointer;
}

.separadorVertical{
    width: 1px;
    height: 2rem;
    background: white;
}